* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btnContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.changeSizeBtn {
    margin-bottom: 50px;
    
}

.restartBtn {
    margin-bottom: 50px;
}

.rainbowBtn {
    margin: 0px 70px 50px;
}

.normalBtn {
    margin: 0px 70px 50px;
}

.gridContainer {
    flex: 2;
    display: flex;
    justify-content: center;
}

.grid {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.square {
    width: 37.5px;
    height: 37.5px;
    border: 1px solid black;
}